Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add themable heading components (h1, h2,...)
  packages/falcon-ui/src/components/Headings.mdx
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/theme/components.ts
  packages/falcon-ui/src/theme/propsmapings.ts
  packages/falcon-ui/src/theme/theme.ts
Due: none

Renaming `timingMiddleware` to `serverTimingMiddleware`
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/serverTimingMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

Renaming method names
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/serverTimingMiddleware.js
Due: eslint --fix

renamed aliases
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/index.js
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/razzle/falconClientPlugin.js
  packages/falcon-client/src/server.js
Due: eslint --fix

renamed and changed location for example entry files
  examples/shop-with-blog/client/falcon-client.config.js
  examples/shop-with-blog/client/index.js
  examples/shop-with-blog/client/src/index.js
Due: eslint --fix

- renamed app-src -> app-path as client app entry files were moved into app root dir - added renamed razzle to buildTools - extracted failIfAppEntryFilesNotFound and clearAppBuildDir functions
  packages/falcon-client/bin/falcon-client.js
  packages/falcon-client/index.js
  packages/falcon-client/src/buildTools/index.js
  packages/falcon-client/src/buildTools/paths.js
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/buildTools/razzle/index.js
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

fixed requre
  packages/falcon-client/src/buildTools/index.js
Due: eslint --fix

removed unecessary code
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

renamed configuration.js to falcon-client.config.js
  examples/shop-with-blog/client/src/falcon-client.config.js
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/razzle/falconClientPlugin.js
Due: eslint --fix

added raw-loader to require html files (for 500 error page)
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

use makeLoaderFinder to find file-loader
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

moved error500 middleware above helmet and static files, I think if something will go wrong with these middlewares then it is out of our responsibility
  packages/falcon-client/src/server.js
Due: eslint --fix

fixed custom 500 error page
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

moved all static files into public/static
  examples/shop-with-blog/client/public/manifest.json
  examples/shop-with-blog/client/public/static/favicon.ico
  examples/shop-with-blog/client/public/static/logo.png
  examples/shop-with-blog/client/public/static/logo.svg
  examples/shop-with-blog/client/public/static/robots.txt
Due: prettier --write

removed raw loader, as I use resolve instead
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

moved views into root directory
  packages/falcon-client/views/errors/500.html
Due: none

adjusted path to static files
  examples/shop-with-blog/client/src/pages/home/Home.js
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/server.js
Due: eslint --fix

added resolve to make possible to resolve falcon-client module when server is compiled
  packages/falcon-client/package.json
Due: prettier --write

rewrite error500 middleware
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

removed comment
  packages/falcon-client/src/server.js
Due: eslint --fix

static files can not be server from public/static it needs to be public
  examples/shop-with-blog/client/public/favicon.ico
  examples/shop-with-blog/client/public/logo.png
  examples/shop-with-blog/client/public/logo.svg
  examples/shop-with-blog/client/public/manifest.json
  examples/shop-with-blog/client/public/robots.txt
  examples/shop-with-blog/client/src/pages/home/Home.js
Due: eslint --fix, prettier --write

views/errors/ can not be server from public dir, then moved it to root/views
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

temporarily disable class properties babel plugin as it's causing issues
  packages/falcon-ui/babel.config.js
Due: eslint --fix

add little bit of docs for button and grid, update button theming
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/GridLayout.mdx
  packages/falcon-ui/src/theme/components.ts
Due: none

update readme with tasks
  packages/falcon-ui/README.md
Due: none

fix line endings
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/GridLayout.mdx
  packages/falcon-ui/src/components/Headings.mdx
  packages/falcon-ui/src/components/Root.mdx
  packages/falcon-ui/src/components/Table.mdx
  packages/falcon-ui/src/index.mdx
Due: none

add info about conventional commits - to be reviewed
  packages/falcon-ui/README.md
Due: none

docs: add readme
  packages/falcon-ui/README.md
Due: none

feat: add basic Image component
  packages/falcon-ui/src/components/Image.tsx
  packages/falcon-ui/src/theme/components.ts
Due: none

docs: add example homepage layout playground
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/components/playground.mdx
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/theme/propsmapings.ts
Due: none

Adding test/setupFile.js for configuring Enzyme across test suites
  .gitignore
  jest.config.js
  package.json
  packages/falcon-client/.npmignore
  test/setupFile.js
Due: eslint --fix, prettier --write

Adding initial test file to Falcon-client Fixing test in examples/shop-with-blog sub-project
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/App.test.js
  packages/falcon-client/package.json
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/index.test.js
Due: eslint --fix, prettier --write

Adding jest.moduleNameMapper for custom aliases
  packages/falcon-client/package.json
Due: prettier --write

improvement: remove babel-loader dependency, it's not needed anymore
  packages/falcon-ui/package.json
Due: prettier --write

refactor: move types.d.ts to source
  packages/falcon-ui/src/types.d.ts
  packages/falcon-ui/tsconfig.json
Due: prettier --write

refactoring: use ts interfaces for component props in order to generate better typings
  packages/falcon-ui/src/theme/index.ts
Due: none

improvement: bump babel version
  packages/falcon-ui/package.json
Due: prettier --write

renamed clientState -> clientApolloSchema
  examples/shop-with-blog/client/index.js
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/middlewares/apolloClientProvider.js
Due: eslint --fix

simplified exports/imports for client app and apolloSchema
  examples/shop-with-blog/client/index.js
  packages/falcon-client/src/clientApp/index.js
Due: eslint --fix

refactoring: move docs related component into docs folder outside src
  packages/falcon-ui/docs/PropsTable.tsx
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/doczrc.js
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/GridLayout.mdx
  packages/falcon-ui/src/components/Headings.mdx
  packages/falcon-ui/src/components/Root.mdx
  packages/falcon-ui/src/components/Table.mdx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
