Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(locales): updated pckage name
  packages/falcon-i18n/README.md
Due: none

feat(locales): added md file for i18n webpack plugin
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/README.md
Due: none

feat(locales): updated documentation
  packages/falcon-client/README.md
Due: none

fix: ask API for fetch url priority instead of using value from config
  packages/falcon-blog-extension/src/index.js
Due: eslint --fix

cleanup: remove commented out code
  packages/falcon-blog-extension/src/index.js
Due: eslint --fix

feat(locales): updated repository urls in packages.json
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/package.json
  packages/falcon-i18n/package.json
Due: prettier --write

feat(locales): removed unecessary index.js
  packages/falcon-i18n/index.js
  packages/falcon-i18n/package.json
Due: eslint --fix, prettier --write

feat(locales): fixed typos
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/README.md
  packages/falcon-i18n/README.md
Due: none

feat(locales): moved all resources into `i18n` directory
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-i18n/README.md
  packages/falcon-i18n/i18n/en/common.json
  packages/falcon-i18n/i18n/en/post.json
  packages/falcon-i18n/i18n/en/shop.json
  packages/falcon-i18n/i18n/nl/common.json
  packages/falcon-i18n/i18n/nl/shop.json
Due: eslint --fix, prettier --write

feat(locales): uninstalled unnecessary package
  packages/falcon-client/package.json
Due: prettier --write

feat(locales) updated md for falcon-client
  packages/falcon-client/README.md
Due: none

feat(locales): configured peer depenedencies
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/package.json
Due: prettier --write

fix: added cross-env to run example server
  examples/shop-with-blog/server/package.json
Due: prettier --write

feat(locales): reorederd inmports
  packages/falcon-client/src/clientApp/configuration.js
Due: eslint --fix

removed unecessary string interpolation
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(falcon-ui): add generic box component
  packages/falcon-ui/src/components/Box.tsx
Due: none

feat(falcon-ui): add portal component
  packages/falcon-ui/src/components/Portal.mdx
  packages/falcon-ui/src/components/Portal.tsx
Due: none

improvement(falcon-ui): update box component - it should not be themable via theme object
  packages/falcon-ui/src/components/Box.tsx
Due: none

feat(falcon-ui): add Group component
  packages/falcon-ui/src/components/Group.mdx
  packages/falcon-ui/src/components/Group.tsx
Due: none

Extending base blog-extension GQL schema Adding intial doc files for falcon-server
  packages/falcon-blog-extension/src/schema.graphql
  packages/falcon-server/docs/ApiDataSource.md
  packages/falcon-server/docs/Extension.md
  packages/falcon-server/docs/README.md
Due: prettier --write

Defining "falcon-server-env" package
  package.json
  packages/falcon-server-env/package.json
Due: prettier --write

Initial version of base Extension model
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/index.js
  packages/falcon-server-env/src/models/Extension.js
Due: eslint --fix, prettier --write

improvement(falcon-ui): improve forwarding props logic for custom components when using 'extend'
  packages/falcon-ui/src/theme/themed.tsx
Due: none

feat(locales): added i18n client 'mock'
  packages/falcon-client/src/i18n/__mocks__/i18nextClient.js
Due: eslint --fix

feat(locales): added FalconClient wrapper component for unit testing purposes
  packages/falcon-client/unitTesting/FalconClient.js
  packages/falcon-client/unitTesting/index.js
Due: eslint --fix

feat(locales): used faclonClientMock
  examples/shop-with-blog/client/src/App.test.js
Due: eslint --fix

feat(locales): added docummentation about falconclientmock usage
  packages/falcon-client/README.md
Due: none

feat(locales): added some simple test for checking if i18next state is rendered inside html shell
  packages/falcon-client/src/server.test.js
Due: eslint --fix

fix(example/server): move index.js to the top level
  examples/shop-with-blog/server/index.js
Due: eslint --fix

feat(locales): made i18next middleware as part of rouring
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(falcon-ui): add sidebar & backdrop components
  packages/falcon-ui/src/components/Backdrop.tsx
  packages/falcon-ui/src/components/Sidebar.mdx
  packages/falcon-ui/src/components/Sidebar.tsx
Due: none

feat(locales): rename
  examples/shop-with-blog/client/src/App.test.js
  packages/falcon-client/README.md
  packages/falcon-client/test-utils/FalconClient.js
  packages/falcon-client/test-utils/index.js
Due: eslint --fix

feat(locales): typo
  packages/falcon-i18n/README.md
Due: none

docs(falcon-ui): add script command to build docs, modify docz config to use our custom tsconfig, auto-generate netlify redirects file
  packages/falcon-ui/.gitignore
  packages/falcon-ui/doczrc.js
  packages/falcon-ui/package.json
Due: eslint --fix, prettier --write

feat(falcon-ui): add avatar component
  packages/falcon-ui/src/components/Avatar.mdx
  packages/falcon-ui/src/components/Avatar.tsx
Due: none

feat(locale): fixed typos
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/index.js
Due: eslint --fix

feat(locale): added assertion into render <App /> which proves that i18n resources can be set, improved configuration for i18n in tests
  examples/shop-with-blog/client/src/App.test.js
  packages/falcon-client/src/i18n/__mocks__/i18nextClient.js
Due: eslint --fix

feat(locales): set saveMissing to false
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(locales): typos
  packages/falcon-client/README.md
Due: none

feat(locales): introduces resources into serverside i18nextFactory
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
