Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

feat(falcon-ui): add navbar component
  packages/falcon-ui/src/components/Navbar.mdx
  packages/falcon-ui/src/components/Navbar.tsx
Due: none

docs(falcon-ui): update readme, remove dev time todos
  packages/falcon-ui/README.md
Due: none

improvement(falcon-ui): update react typings
  packages/falcon-ui/package.json
Due: prettier --write

docs(falcon-ui): update intro
  packages/falcon-ui/README.md
Due: none

feat(falcon-ui): add dev time simple theme editor component
  packages/falcon-ui/docs/ThemeEditor.tsx
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/src/components/Details.tsx
  packages/falcon-ui/src/components/RangeInput.tsx
  packages/falcon-ui/src/components/ThemeProvider.tsx
  packages/falcon-ui/src/theme/ThemeEditor.tsx
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/theme.mdx
Due: none

feat(shop): add initial code for shop extension and magento2 api
  examples/shop-with-blog/server/config/default.json
  examples/shop-with-blog/server/package.json
  packages/falcon-magento2-api/README.md
  packages/falcon-magento2-api/package.json
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/__mocks__/apiResponses.js
  packages/falcon-magento2-api/src/index.js
  packages/falcon-magento2-api/src/index.test.js
  packages/falcon-shop-extension/package.json
  packages/falcon-shop-extension/src/index.js
  packages/falcon-shop-extension/src/schema.test.js
Due: eslint --fix, prettier --write

fix(wordpress): do not fail when context in request is not defined
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix

(app-shell): decided to cache in koa all webpack assets urls, this middleware also flatten asset.json, and remove webmanifest if turned off
  packages/falcon-client/src/routing/webpackAssetsMiddleware.js
Due: eslint --fix

feat(app-shell): for /app-shell route we need somehow render head (it is something like SSR middleware)
  packages/falcon-client/src/routing/helmetMiddleware.js
Due: eslint --fix

feat(app-shell): added HtmlHead with some basic tags
  packages/falcon-client/src/components/HtmlHead.js
  packages/falcon-client/src/routing/helmetMiddleware.js
Due: eslint --fix

feat(app-shell): adjusted SSR middleware
  packages/falcon-client/src/routing/ssrMiddleware.js
Due: eslint --fix

feat(app-shell): fixed retrieving language for HtmlHead
  packages/falcon-client/src/routing/ssrMiddleware.js
Due: eslint --fix

feat(app-shell): renderd HtmlHead on client
  packages/falcon-client/src/client.js
Due: eslint --fix

feat(app-shell): as extracting webpack assets were moved into separate middleware then appshell middleware gets simplified
  packages/falcon-client/src/routing/appShellMiddleware.js
Due: eslint --fix

improvement(falcon-ui): when component renders in portal also render it as root component, so root styles get applied as well
  packages/falcon-ui/src/components/Portal.tsx
  packages/falcon-ui/src/components/ThemeProvider.tsx
  packages/falcon-ui/src/theme/ThemeEditor.tsx
Due: none

feat(app-shell): improved error logging on error500 middlware * printing fullstackstrace * printing request.url
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

feat(app-shell): configured webpackAssets middleware
  packages/falcon-client/src/routing/index.js
Due: eslint --fix

fix(shop,blog): fix schemas definitions so new schema stitching code works correctly
  packages/falcon-blog-extension/src/schema.graphql
  packages/falcon-shop-extension/src/schema.graphql
Due: prettier --write

feat(falcon-ui): allow specyfying more comples responsive props, like mx or size for themed components
  packages/falcon-ui/src/theme/propsmapings.ts
  packages/falcon-ui/src/theme/themed.tsx
Due: none

feat(app-shell): moved favicon into src/assets/
  examples/shop-with-blog/client/src/assets/favicon.ico
Due: none

feat(app-shell): configure url-loader ro always fallback into file-loader (this loader could be also removed) * emit files only when target `web`
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): as we have some predefined HtmlHead, added favicon to it
  packages/falcon-client/src/components/HtmlHead.js
Due: eslint --fix

feat(app-shell): added developer custom HeadMetaTags component
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix

feat(app-shell): simplified config object for Html component, as we do not need anymore `usePwaManifest` switch
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

feat(app-shell): rendering html shell using helmet context
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

feat(app-shell): I would like to be sure that user styles and scripts will be rendered after ours
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

improvement(falcon-ui): update components to utilize new responsive props
  packages/falcon-ui/src/components/Avatar.tsx
  packages/falcon-ui/src/components/BackgroundImage.mdx
  packages/falcon-ui/src/components/Badge.tsx
  packages/falcon-ui/src/components/Breadcrumbs.tsx
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/Button.tsx
  packages/falcon-ui/src/components/Card.tsx
  packages/falcon-ui/src/components/Checkbox.tsx
  packages/falcon-ui/src/components/Details.tsx
  packages/falcon-ui/src/components/Divider.tsx
  packages/falcon-ui/src/components/FlexLayout.mdx
  packages/falcon-ui/src/components/GridLayout.mdx
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/Navbar.tsx
  packages/falcon-ui/src/components/NumberInput.mdx
  packages/falcon-ui/src/components/NumberInput.tsx
  packages/falcon-ui/src/components/Portal.mdx
  packages/falcon-ui/src/components/Radio.tsx
  packages/falcon-ui/src/components/Root.mdx
  packages/falcon-ui/src/components/Sidebar.mdx
  packages/falcon-ui/src/components/Tabs.tsx
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/index.ts
Due: none

improvement(falcon-ui): update css props merge order
  packages/falcon-ui/src/theme/themed.tsx
Due: none

docs(falcon-ui): fix issue with card tag
  packages/falcon-ui/src/components/playground.tsx
Due: none

docs(falcon-ui): update build:docs script
  packages/falcon-ui/package.json
Due: prettier --write

improvement(falcon-ui): allow passing editor component into theme provider instead of bool prop, tweak styles
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/src/components/Details.tsx
  packages/falcon-ui/src/components/Link.tsx
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: none

docs: add contributing doc with conventional commits info, update falcon-ui readme
  CONTRIBUTING.md
  packages/falcon-ui/README.md
Due: none

feat(app-shell): rename
  packages/falcon-client/src/routing/appShellMiddleware.js
  packages/falcon-client/src/routing/ssrMiddleware.js
Due: eslint --fix

fix: this will fix problems wirth diffrent html returned from server - i18next have some bug I think with options.react.wait = true
  packages/falcon-client/src/i18n/i18nClientFactory.js
  packages/falcon-client/src/i18n/i18nServerFactory.js
Due: eslint --fix

feat(app-shell): chrome sugest to cache for 1 day
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): will build *.ico files in server.js
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): added more sizes into manifest
  examples/shop-with-blog/client/src/manifest.webmanifest
Due: none

feat(app-shell): removed unecessary links
  examples/shop-with-blog/client/src/pages/home/Home.js
Due: eslint --fix

feat(app-shell): ok, koa-static expect ms instaed of s, set cache to 1 year!
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): it is possible to merge my two touters into single
  packages/falcon-client/src/server.js
Due: eslint --fix
