Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

build(falcon-ui): update dependencies & package.json scripts
  packages/falcon-ui/package.json
Due: prettier --write

remove theme editor from falcon-ui, it should be placed in separate package
  packages/falcon-ui/src/theme/ThemeEditor.tsx
Due: none

feat: add falcon-theme-editor package
  package.json
  packages/falcon-theme-editor/README.md
  packages/falcon-theme-editor/babel.config.js
  packages/falcon-theme-editor/package.json
  packages/falcon-theme-editor/rollup.config.js
  packages/falcon-theme-editor/src/index.tsx
  packages/falcon-theme-editor/tsconfig.json
Due: eslint --fix, prettier --write

Updating base schema (falcon-server) - added 'PaginationInput' input
  package.json
  packages/falcon-server/src/index.js
  packages/falcon-server/src/schema.graphql
Due: eslint --fix, prettier --write

improvement(falcon-ui): remove updating theme releated code from theme provider, use external theme editor & theme state components in docs
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/ThemeProvider.tsx
  packages/falcon-ui/src/theme/index.ts
Due: prettier --write

style: update eslint config with more sensible rules
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

improvement(falcon-ui): update components to plug into themed icon system, improve icon implementation (fallback, focusable prop etc)
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/Checkbox.tsx
  packages/falcon-ui/src/components/Icon.tsx
  packages/falcon-ui/src/components/NumberInput.tsx
  packages/falcon-ui/src/components/Radio.mdx
  packages/falcon-ui/src/components/Radio.tsx
  packages/falcon-ui/src/components/ThemedIcon.tsx
  packages/falcon-ui/src/index.ts
Due: prettier --write

build: run prepare scripts in packages when executing yarn install from root dir - https://github.com/yarnpkg/yarn/issues/3911#issuecomment-343270644
  package.json
Due: prettier --write

feat(app-shell): last renames
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server/index.js
  packages/falcon-client/src/server/index.test.js
  packages/falcon-client/src/server/instance.js
Due: eslint --fix

build: force running prepare script for falcon-ui first
  package.json
Due: prettier --write

feat(shop-with-blog): add header & footer & home layouts initial versions
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/App.css
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/App.test.js
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/components/AppLayout.js
  examples/shop-with-blog/client/src/components/Footer.js
  examples/shop-with-blog/client/src/components/Header.js
  examples/shop-with-blog/client/src/components/Products.js
  examples/shop-with-blog/client/src/components/index.js
  examples/shop-with-blog/client/src/pages/Home.js
  examples/shop-with-blog/client/src/pages/home/Home.css
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/client/src/theme.js
Due: eslint --fix, prettier --write

fix(theme-editor): update the way state is set for open panels so it's 'pure'
  packages/falcon-theme-editor/src/index.tsx
Due: none

fix(falcon-ui): remove jest.config as it's not yet used for anything and causes issues with eslint validations
  packages/falcon-ui/jest.config.js
Due: eslint --fix

fix(server): add dependencies removed accidentally
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/types.ts
Due: prettier --write

fix(client): add missing dev dependencies
  packages/falcon-client/package.json
Due: prettier --write

fix(client): fix version setting for added packages
  packages/falcon-client/package.json
Due: prettier --write

improvement(falcon-ui): update theme to match deity green from zeplin
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/theme.js
Due: eslint --fix

Handing nested "searchParams" object for ApiDataSource requests
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/types.ts
Due: prettier --write

Refactoring GraphQL schema for Blog extension
  packages/falcon-blog-extension/package.json
  packages/falcon-blog-extension/src/index.js
  packages/falcon-blog-extension/src/schema.graphql
  packages/falcon-blog-extension/src/schema.test.js
Due: eslint --fix, prettier --write

Fixing eslint warning in falcon-client
  packages/falcon-client/package.json
  packages/falcon-client/src/server.test.js
Due: eslint --fix, prettier --write

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Delete PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: none

feat(uikit): added ts support into falcon-client
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/tsconfig.json
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feat(app-shell): renames, one more time
  packages/falcon-client/src/server/index.js
  packages/falcon-client/src/server/middlewares/error500Middleware.js
  packages/falcon-client/src/server/middlewares/serverTimingMiddleware.js
  packages/falcon-client/src/server/routing/apolloClientProvider.js
  packages/falcon-client/src/server/routing/appShellMiddleware.js
  packages/falcon-client/src/server/routing/helmetMiddleware.js
  packages/falcon-client/src/server/routing/i18nextMiddleware.js
  packages/falcon-client/src/server/routing/index.js
  packages/falcon-client/src/server/routing/ssrMiddleware.js
Due: eslint --fix

Updating query resolvers for Wordpress API
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix

feat(app-shell): moved dependencies
  examples/shop-with-blog/server/package.json
Due: prettier --write

feat(server): add dynamic content resolver to shop extension
  packages/falcon-dynamic-route-extension/index.js
  packages/falcon-magento2-api/src/index.js
  packages/falcon-shop-extension/src/index.js
Due: eslint --fix

feat(shop-with-blog): new main layout, footer, products list, basic responsive styles - WIP
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/components/AppLayout.js
  examples/shop-with-blog/client/src/components/Footer.js
  examples/shop-with-blog/client/src/components/Header.js
  examples/shop-with-blog/client/src/components/LanguageSwitcher.js
  examples/shop-with-blog/client/src/components/Products.js
  examples/shop-with-blog/client/src/components/index.js
  examples/shop-with-blog/client/src/theme.js
  packages/falcon-ui/src/components/Backdrop.tsx
  packages/falcon-ui/src/components/Dropdown.tsx
  packages/falcon-ui/src/components/Input.mdx
  packages/falcon-ui/src/components/Input.tsx
  packages/falcon-ui/src/components/Root.tsx
  packages/falcon-ui/src/components/Text.tsx
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: eslint --fix

tests: bring back app.test.js, but empty as existing one was failing pretty bad
  examples/shop-with-blog/client/src/App.test.js
Due: eslint --fix

feat(shop): reducer for product query
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

feat(falcon-ecommerce): move react components to separate lib outside sample
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/pages/Home.js
  package.json
  packages/falcon-ecommerce-uikit/README.md
  packages/falcon-ecommerce-uikit/babel.config.js
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-ecommerce-uikit/rollup.config.js
  packages/falcon-ecommerce-uikit/src/AppLayout.tsx
  packages/falcon-ecommerce-uikit/src/Footer.tsx
  packages/falcon-ecommerce-uikit/src/Header.tsx
  packages/falcon-ecommerce-uikit/src/LanguageSwitcher.tsx
  packages/falcon-ecommerce-uikit/src/Products.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
  packages/falcon-ecommerce-uikit/tsconfig.json
  packages/falcon-ui/src/components/Icon.tsx
Due: eslint --fix, prettier --write

feat(shop): cart fetching and adding to cart
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

improvement(ecommerce-toolkit): add query component
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-ecommerce-uikit/src/Footer.tsx
  packages/falcon-ecommerce-uikit/src/Header.tsx
  packages/falcon-ecommerce-uikit/src/Products.tsx
  packages/falcon-ecommerce-uikit/src/Query.tsx
  packages/falcon-ecommerce-uikit/src/index.ts
Due: prettier --write

build: emit declaration maps for TS packages, add watch script for TS based packages
  packages/falcon-ecommerce-uikit/package.json
  packages/falcon-ecommerce-uikit/tsconfig.json
  packages/falcon-theme-editor/package.json
  packages/falcon-theme-editor/tsconfig.json
  packages/falcon-ui/package.json
  packages/falcon-ui/tsconfig.json
Due: prettier --write

fix(shop): fix fetching of dynamic route from magento api
  packages/falcon-dynamic-route-extension/index.js
  packages/falcon-shop-extension/src/index.js
Due: eslint --fix

cleanup(shop): improve dynamic url fetching - use didReceiveResponse for response processing
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix
