Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

add some badges!
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

fix typo
  README.md
Due: none

testing eslint hooks
  .eslintrc
Due: none

DE-24: eslint fix
  packages/falcon-client/index.js
  packages/falcon-server/index.js
  packages/falcon-ui/index.js
Due: eslint --fix

DE-24: airbnb config v17 contain BC
  package.json
  yarn.lock
Due: prettier --write

DE-24: removed "indent" rule, conflicting with prettier.
  .eslintrc
Due: none

Adjusting .gitignore file, removing yarn.lock file
  .gitignore
  yarn.lock
Due: none

added vsc config into git ignore
  .gitignore
Due: none

added static/dist into gitignore
  .gitignore
Due: none

renamed deity-core --> falcon-core
  examples/shop-with-blog/.babelrc
  examples/shop-with-blog/README.md
  examples/shop-with-blog/index.js
Due: eslint --fix

renamed falcon-core -> @deity/falcon-core
  .gitignore
  examples/shop-with-blog/bin/server.js
  examples/shop-with-blog/src/client.js
  examples/shop-with-blog/src/containers/Home/index.js
  examples/shop-with-blog/src/redux/middleware/clientMiddleware.js
  examples/shop-with-blog/src/redux/modules/reducer.js
  examples/shop-with-blog/src/routes.js
  examples/shop-with-blog/src/server.js
  examples/shop-with-blog/src/theme/fonts.scss
  examples/shop-with-blog/src/theme/variables.scss
  examples/shop-with-blog/webpack/dev.config.js
  examples/shop-with-blog/webpack/prod.config.js
Due: eslint --fix, prettier --write

path still needs to be fixed
  examples/shop-with-blog/.babelrc
Due: none

clean up aliases...
  examples/shop-with-blog/.babelrc
  examples/shop-with-blog/bin/server.js
  examples/shop-with-blog/src/client.js
  examples/shop-with-blog/src/containers/Home/index.js
  examples/shop-with-blog/src/redux/middleware/clientMiddleware.js
  examples/shop-with-blog/src/redux/modules/reducer.js
  examples/shop-with-blog/src/routes.js
  examples/shop-with-blog/src/server.js
Due: eslint --fix

addes some path fixes
  .gitignore
  examples/shop-with-blog/.babelrc
  examples/shop-with-blog/bin/server.js
  examples/shop-with-blog/src/theme/fonts.scss
  examples/shop-with-blog/src/theme/variables.scss
Due: eslint --fix, prettier --write

added shop-with-blog example
  examples/shop-with-blog/index.js
Due: eslint --fix

added package json
  examples/shop-with-blog/package.json
Due: prettier --write

added razzle into falcon-client
  packages/falcon-client/index.js
  packages/falcon-client/package.json
  packages/falcon-client/src/client.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server.js
Due: eslint --fix, prettier --write

updated path to blog-with-shop clinet
  package.json
Due: prettier --write

added some example files into shop-with-blog client project
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/public/favicon.ico
  examples/shop-with-blog/client/public/robots.txt
  examples/shop-with-blog/client/src/App.test.js
  examples/shop-with-blog/client/src/Home.css
  examples/shop-with-blog/client/src/Home.js
  examples/shop-with-blog/client/src/index.css
  examples/shop-with-blog/client/src/index.js
  examples/shop-with-blog/client/src/koajs-logo.png
  examples/shop-with-blog/index.js
  examples/shop-with-blog/package.json
Due: eslint --fix, prettier --write

improved workspaces paths
  package.json
Due: prettier --write

Fix licence names
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/server/package.json
  package.json
  packages/falcon-client/package.json
  packages/falcon-server/package.json
  packages/falcon-ui/package.json
Due: prettier --write

Add vim files to .gitignore
  .gitignore
Due: none

Adding basic README file for falcon-client Adding required packages
  .gitignore
  packages/falcon-client/README.md
  packages/falcon-client/package.json
Due: prettier --write

Enabling ApolloClient for falcon-client
  packages/falcon-client/package.json
  packages/falcon-client/src/client.js
  packages/falcon-client/src/server.js
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix, prettier --write

Adding initial file to falcon-server
  packages/falcon-client/src/service/ApolloClient.js
  packages/falcon-server/index.js
  packages/falcon-server/package.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

Adding README.md file to falcon-server
  packages/falcon-server/README.md
Due: none

Adding precaution for ApolloClient.connectToDevTools flag
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix

Basic setup falcon-server and shop-with-blog/server
  examples/shop-with-blog/server/index.js
  examples/shop-with-blog/server/package.json
  packages/falcon-client/src/index.js
  packages/falcon-server/bin/index.js
  packages/falcon-server/package.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

Rename bin/index.js to bin/falcon-server
  packages/falcon-server/bin/falcon-server
  packages/falcon-server/package.json
Due: prettier --write

Move Logger from deity-core
  package.json
  packages/falcon-logger/README.md
  packages/falcon-logger/package.json
  packages/falcon-logger/src/index.js
  packages/falcon-logger/src/serverLogger.js
  packages/falcon-server/bin/falcon-server
  packages/falcon-server/package.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

moved all paths into single place
  packages/falcon-client/src/paths.js
Due: eslint --fix

using falcon-client instead of razzle * I known that razzle needs to be installed in example - will look on this latter
  examples/shop-with-blog/client/package.json
Due: prettier --write

added deity logo and favicon into shop-with-blog
  examples/shop-with-blog/client/public/favicon.ico
  examples/shop-with-blog/client/public/logo.png
Due: none

installd all necessary dependencies in falcon-client * configured scripts
  packages/falcon-client/package.json
Due: prettier --write

added bin/falcon-client
  packages/falcon-client/bin/falcon-client.js
Due: eslint --fix

using razzlePluginFalconClient
  examples/shop-with-blog/client/razzle.config.js
Due: eslint --fix

update git ignore * added /build/ dir into ignred
  .gitignore
Due: none
