Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Adding `test/nodeEnvSetupFile.js` for Jest configuration Adding ApiContainer tests
  examples/shop-with-blog/server/index.js
  packages/falcon-server/package.json
  packages/falcon-server/src/containers/ApiContainer.test.js
  packages/falcon-server/src/containers/ExtensionContainer.test.js
  packages/falcon-server/src/containers/__mocks__/fake-backend-api/index.js
  packages/falcon-server/src/index.js
  test/nodeEnvSetupFile.js
Due: eslint --fix, prettier --write

feat(app-shell): adjusted middlewares to render app shell
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

feat(app-shell): rename
  packages/falcon-client/src/middlewares/appShellMiddleware.js
Due: eslint --fix

feat(app-shell): adjusted server imports
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): updated APP_INIT query
  packages/falcon-client/src/graphql/config.gql
Due: none

feat(app-shell): finally inject language into app-shell - user selection (taken from i18next state) or default from configuration (for minimal app-shell default from config will be taken)
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

feat(app-shell): improved description
  packages/falcon-client/src/middlewares/appShellMiddleware.js
Due: eslint --fix

Moving "process.env.NODE_ENV" value to the config ("debug" key) Adding main test file for FalconServer
  .gitignore
  examples/shop-with-blog/server/config/default.json
  packages/falcon-server/package.json
  packages/falcon-server/src/__mocks__/fake-backend-api/index.js
  packages/falcon-server/src/__mocks__/fake-product-reviews-extension/index.js
  packages/falcon-server/src/__mocks__/fake-shop-extension/index.js
  packages/falcon-server/src/containers/ExtensionContainer.js
  packages/falcon-server/src/index.js
  packages/falcon-server/src/index.test.js
Due: eslint --fix, prettier --write

Providing "context" data for all fetch methods
  packages/falcon-server-env/jest.config.js
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/types.ts
  packages/falcon-server-env/tsconfig.json
Due: eslint --fix, prettier --write

Testing falcon-server-env helpers
  package.json
  packages/falcon-server-env/jest.config.js
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/helpers/index.test.ts
Due: eslint --fix, prettier --write

Adding missing generic types
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: none

feat(app-shell): looks like removed Router creation
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): removed "workbox-webpack-plugin and used workbox-build instead
  packages/falcon-client/package.json
Due: prettier --write

feat(app-shell): removed entire WorkboxPlugin configuration
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): changed way of generating sw.js - used workbox build instead of webpack plugin
  packages/falcon-client/src/buildTools/workbox/index.js
  packages/falcon-client/src/serviceWorker/sw.js
Due: eslint --fix

feat(app-shell): modify falcon-client script to rn async scripts, - add promises everywere - add global try/catch
  packages/falcon-client/bin/falcon-client.js
  packages/falcon-client/src/buildTools/razzle/index.js
  packages/falcon-client/src/buildTools/workbox/index.js
Due: eslint --fix

feat(app-shell): added some static page for testing purposes
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/client/src/pages/login/LogIn.js
Due: eslint --fix

feat(app-shell): moved Offline Overlay
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/OfflineOverlay/index.js
Due: eslint --fix

feat(app-shell): added isonline HOC and used it on app
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/isOnline.js
Due: eslint --fix

feat(app-shell): added some cache control
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): - fixed unit tests for apollo - merged i18n with resources setting
  packages/falcon-client/src/server.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix

Formatting ApiDataSource.baseUrl using config value Adding tests for ApiDataSource
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/helpers/index.ts
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/types.ts
  packages/falcon-server-env/tsconfig.json
Due: prettier --write

feat(app-shell): moved whole routing into separate folder
  packages/falcon-client/src/i18n/i18nServerFactory.js
  packages/falcon-client/src/routing/apolloClientProvider.js
  packages/falcon-client/src/routing/appShellMiddleware.js
  packages/falcon-client/src/routing/i18nextMiddleware.js
  packages/falcon-client/src/routing/index.js
  packages/falcon-client/src/routing/ssrMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): more simplification
  packages/falcon-client/src/routing/index.js
Due: eslint --fix

Testing REST methods for ApiDataSource (ContextHTTPCache)
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/models/Extension.test.ts
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server-env/src/types.ts
Due: prettier --write

feat(app-shell): fixed url-loader fallback it was broken by mono repo I think
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): moved images into assets
  examples/shop-with-blog/client/assets/logo.png
  examples/shop-with-blog/client/assets/logo.svg
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/client/src/pages/login/LogIn.js
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

Calling "makeExecutableSchema" method on ExtensionContainer
  packages/falcon-server-env/tsconfig.json
  packages/falcon-server/package.json
  packages/falcon-server/src/__mocks__/fake-product-reviews-extension/index.js
  packages/falcon-server/src/__mocks__/fake-shop-extension/index.js
  packages/falcon-server/src/containers/ApiContainer.js
  packages/falcon-server/src/containers/ExtensionContainer.js
Due: eslint --fix, prettier --write

feat(app-shell): disable eslint for workbox import
  packages/falcon-client/src/buildTools/workbox/index.js
Due: eslint --fix

feat(app-shell): added isOnline HOC
  packages/falcon-client/src/components/OfflineOverlay/index.js
Due: eslint --fix

Updating falcon-blog-extension tests
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/server/package.json
  packages/falcon-blog-extension/package.json
  packages/falcon-blog-extension/src/schema.graphql
  packages/falcon-blog-extension/src/schema.test.js
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server-env/src/types.ts
Due: eslint --fix, prettier --write

Adding abstract "fetchUrl" method to Extension class
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server-env/src/types.ts
Due: none

Re-organizing docs
  packages/falcon-server-env/docs/ApiDataSource.md
  packages/falcon-server-env/docs/Extension.md
  packages/falcon-server-env/src/types.ts
  packages/falcon-server/README.md
  packages/falcon-server/docs/ExtensionContainer.md
  packages/falcon-server/docs/README.md
Due: none

build(falcon-ui): add size limit on build
  packages/falcon-ui/package.json
Due: prettier --write

feat(app-shell): inside i18n falcon plugin decided to move `getI18nResourceFileDefinitions` into separate file to make plugin code more webpack oriented
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/src/index.js
Due: eslint --fix

feat(app-shell): these dependecies should not be peer
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/package.json
Due: prettier --write

feat(app-shell): all static file should be cached as long as possible
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): add hmr support into i18n falcon plugin
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/index.js
Due: eslint --fix

feat(app-shell): reconfigure locales to support HMR
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/i18n/i18nClientFactory.js
  packages/falcon-client/src/i18n/i18nServerFactory.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
