Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

feat(locale): added check if provided source path exists
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/index.js
Due: eslint --fix

feat(locales): instaled fs-extra and deepmerge in new plugin
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/package.json
Due: prettier --write

feat(locales): moved all translation into falcon-locales
  packages/falcon-locales/en/common.json
  packages/falcon-locales/nl/common.json
  packages/falcon-locales/nl/shop.json
Due: prettier --write

feat(locales): added `public/i18n/` dir into git ignore as it will be generated during build
  .gitignore
Due: none

feat(locales): instead of merge.all -> reduce with merge
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/index.js
Due: eslint --fix

feat(locales): removed locales from public (rename to i18n)
  examples/shop-with-blog/client/public/locales/en/common.json
  examples/shop-with-blog/client/public/locales/en/shop.json
  examples/shop-with-blog/client/public/locales/pl/common.json
Due: prettier --write

style(falcon-ui): remove unnecessary angle brackets
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: none

feat(locales): renamed package falcon-locales into falcon-i18n
  examples/shop-with-blog/client/package.json
  package.json
  packages/falcon-i18n/en/common.json
  packages/falcon-i18n/en/shop.json
  packages/falcon-i18n/index.js
  packages/falcon-i18n/nl/common.json
  packages/falcon-i18n/nl/shop.json
  packages/falcon-i18n/package.json
  packages/falcon-locales/en/common.json
Due: eslint --fix, prettier --write

feat(locales): added some simple i18n overridde into example to prove it works
  examples/shop-with-blog/client/i18n/en/common.json
Due: prettier --write

feat(locales): renamed falcon i18n plugin
  package.json
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/index.js
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/package.json
Due: eslint --fix, prettier --write

feat(locales): installed nad configured i18n plugin
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feat(locales): depends on the dev output dir should be different
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(locales): updated way of fetching i18n resources
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(locales): simplified way of processing files
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/index.js
Due: eslint --fix

feat(locales): updated plugin to make possible to filter only default resources
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/index.js
Due: eslint --fix

feat(locales): added resolvePackageDir
  packages/falcon-client/src/buildTools/paths.js
Due: eslint --fix

fix: setting razzle public path via cross-env for testing purposes
  packages/falcon-client/package.json
  packages/falcon-client/src/server.js
Due: eslint --fix, prettier --write

docs(falcon-ui): update theme editor styles a little bit
  packages/falcon-ui/docs/ThemeEditor.tsx
  packages/falcon-ui/src/theme/theme.mdx
Due: none

feat(locales): updated react-i18next
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
Due: prettier --write

feat(locales) configure i18n plugin
  examples/shop-with-blog/client/razzle.config.js
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

Adding ".idea" to .gitignore
  .gitignore
Due: none

Installing dependencies for newly generated falcon app
  packages/create-falcon-app/bin/create-falcon-app
  packages/create-falcon-app/package.json
  packages/create-falcon-app/src/index.js
Due: eslint --fix, prettier --write

fixing .eslintignore
  .eslintignore
Due: none

feat(locales): setting default configuration
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(locales): using deeepmerge to merge default config with user customisation
  packages/falcon-client/package.json
  packages/falcon-client/src/clientApp/configuration.js
Due: eslint --fix, prettier --write

feat(locales): setting up i18next middleware via config
  packages/falcon-client/src/server.js
Due: eslint --fix

Adding notes on multi-app examples
  packages/create-falcon-app/README.md
Due: none

feat(locales): using gql to provide lng configuration
  examples/shop-with-blog/client/config/default.json
  packages/falcon-client/src/client.js
  packages/falcon-client/src/graphql/config.gql
Due: eslint --fix, prettier --write

performance(falcon-ui): update themed factory implementation that fixes issues with default theme and has much better performance
  packages/falcon-ui/.gitignore
  packages/falcon-ui/babel.config.js
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/themed.tsx
  packages/falcon-ui/tsconfig.json
Due: eslint --fix, prettier --write

Updating dependency versions Renaming falcon-server/bin file
  examples/shop-with-blog/server/package.json
  package.json
  packages/falcon-server/bin/falcon-server.js
  packages/falcon-server/package.json
Due: eslint --fix, prettier --write

feat(locales): added some post translations
  examples/shop-with-blog/client/config/default.json
  examples/shop-with-blog/client/src/pages/dynamic/Post.js
  packages/falcon-i18n/en/post.json
Due: eslint --fix, prettier --write

feat(locales): configured fallback NS
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(locales): added filtration i18next store by used ns
  packages/falcon-client/src/i18n/i18nextMiddleware.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

feat(locales): fixed default ns loading (on client) and fixed ns fallbacking in translation() HOC
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(falcon-ui): add tabs component
  packages/falcon-ui/src/components/Tabs.mdx
  packages/falcon-ui/src/components/Tabs.tsx
Due: none

cleanup: remove old code
  examples/shop-with-blog/server/index.js
  packages/falcon-server/src/apiEngine.js
  packages/falcon-server/src/index.js
Due: eslint --fix

cleanup: remove extensions and apis that are not implemented (from configuration of the example)
  examples/shop-with-blog/server/config/default.json
  examples/shop-with-blog/server/package.json
Due: prettier --write

feat(locales): updated a little Api contract doc (needs more work)
  packages/falcon-client/README.md
Due: none

feat(locales): updated gql query for SSR
  packages/falcon-client/src/graphql/config.gql
  packages/falcon-client/src/i18n/i18nextClient.js
Due: eslint --fix

feat(locales): added md file for falcon i18n efautl resources
  packages/falcon-i18n/README.md
Due: none
