Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(falcon-ui): add details/summary components that can be used as accordion/collapsible base
  packages/falcon-ui/src/components/Details.mdx
  packages/falcon-ui/src/components/Details.tsx
  packages/falcon-ui/src/index.ts
Due: none

improvement(falcon-ui): add transparent variant for backdrop
  packages/falcon-ui/src/components/Backdrop.tsx
Due: none

feat(falcon-ui): add css class falback for themed components, potentially for styling components via external css
  packages/falcon-ui/src/theme/themed.tsx
Due: none

improvement(falcon-ui): update default theme box shadow
  packages/falcon-ui/src/theme/theme.ts
Due: none

feat(falcon-ui): add height to responsive top level props
  packages/falcon-ui/src/theme/propsmapings.ts
Due: none

improvement(falcon-ui): do not forward tag prop to inner components
  packages/falcon-ui/src/components/Swipeable.mdx
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/theme/themed.tsx
Due: none

Updating falcon-server docs
  packages/falcon-server/docs/ApiContainer.md
  packages/falcon-server/docs/ExtensionContainer.md
  packages/falcon-server/docs/README.md
  packages/falcon-server/src/containers/ExtensionContainer.js
Due: eslint --fix

docs(falcon-ui): update docz config, generate better urls
  packages/falcon-ui/doczrc.js
Due: eslint --fix

improvement(falcon-ui): improve default theme typings
  packages/falcon-ui/src/theme/index.ts
Due: none

Adding SchemaStitching.md doc section
  packages/falcon-server/docs/SchemaStitching.md
Due: none

Removing empty doc files Improving ApiDataSource tests
  packages/falcon-server-env/docs/ApiDataSource.md
  packages/falcon-server-env/docs/Extension.md
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-wordpress-api/package.json
Due: prettier --write

improvement(falcon-ui): update button component styles to handle displaying icons as it's children
  packages/falcon-ui/src/components/Button.tsx
Due: none

Using ApiDataSource for WordpressApi Updating FalconServer docs
  packages/falcon-server-env/docs/README.md
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix

Using Extension for BlogExtension
  packages/falcon-blog-extension/src/index.js
Due: eslint --fix

Changing filename for create-falcon-app/bin file
  packages/create-falcon-app/bin/create-falcon-app.js
  packages/create-falcon-app/package.json
Due: eslint --fix, prettier --write

feat(app-shell): adjusted package.json name for example
  examples/shop-with-blog/client/package.json
Due: prettier --write

feat(app-shell): moved requireing webpack Assets into middleware factory
  packages/falcon-client/src/routing/appShellMiddleware.js
Due: eslint --fix

feat(app-manifest): start using WebpackConfigHelpers
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): installed latest version of AssetsWebpack Plugin which fixed issues with exposed assets....
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feat(app-shell):L moved FalconI18n plugin into first place on webpack plugin list
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

refactor(falcon-ui): cleanup unused variables
  packages/falcon-ui/src/theme/themed.tsx
Due: none

refactor(falcon-ui): improve theme provider typings
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: none

feat(app-shell): things like logo and other images moved into src/
  examples/shop-with-blog/client/public/manifest.json
  examples/shop-with-blog/client/src/assets/logo.png
  examples/shop-with-blog/client/src/assets/logo.svg
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/client/src/pages/login/LogIn.js
Due: eslint --fix, prettier --write

feat(app-shell): configured web manifest loader
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

feat(app-shell): all files from static/ dir have already hash so do not generate revision
  packages/falcon-client/src/buildTools/workbox/index.js
Due: eslint --fix

feat(app-shell): added web manifest
  examples/shop-with-blog/client/src/manifest.webmanifest
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/graphql/config.gql
Due: eslint --fix

feat(app-shell): extracted assets paths in middleware instead of <html/> conmponent
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/routing/appShellMiddleware.js
Due: eslint --fix

feat(app-shell): we need to print entire error stack trace
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

feat(app-shell): moved rendering helmet into ssr middleware
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/routing/appShellMiddleware.js
  packages/falcon-client/src/routing/ssrMiddleware.js
Due: eslint --fix, prettier --write

Adding "prepare" script for falcon-server-env to compile TS sources
  package.json
  packages/create-falcon-app/package.json
  packages/falcon-server-env/package.json
Due: prettier --write

Renaming helpers module
  packages/falcon-server-env/src/helpers/htmlHelpers.test.ts
  packages/falcon-server-env/src/helpers/htmlHelpers.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: none

Fixing typos, exporting HtmlHelpers Updating .gitignore file
  .gitignore
  packages/falcon-server-env/docs/README.md
  packages/falcon-server-env/src/index.ts
  packages/falcon-server-env/src/models/Extension.test.ts
  packages/falcon-server/docs/SchemaStitching.md
Due: none

Changing export for htmlHelpers
  packages/falcon-server-env/src/index.ts
Due: none

feat(falcon-ui): add dropdown menu component
  packages/falcon-ui/src/components/Dropdown.mdx
  packages/falcon-ui/src/components/Dropdown.tsx
Due: none

Fixing "require" path for schema (falcon-blog-extension)
  packages/falcon-blog-extension/src/index.js
Due: eslint --fix

Reverting "prefix" to Router
  packages/falcon-server/src/__mocks__/fake-backend-api/index.js
  packages/falcon-server/src/containers/ApiContainer.test.js
  packages/falcon-server/src/index.js
Due: eslint --fix

Enabling tests on "prepush" event
  package.json
Due: prettier --write

Fixing Falcon-Client tests
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

(app-shell): added useWebManifest in default example config
  examples/shop-with-blog/client/config/default.json
Due: prettier --write

Fixing falcon-wordpress-api "context" argument
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
