Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

removed falcon-client/src alias
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/components/DynamicRoute.js
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

renamed also configState --> configSchema
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/middlewares/apolloClientProvider.js
Due: eslint --fix

improvement: rework themed factory to allow rendering using custom components that will have styles applied, split 'as' props to 'tag' and 'extend'
  packages/falcon-ui/README.md
  packages/falcon-ui/docs/PropsTable.tsx
  packages/falcon-ui/doczrc.js
  packages/falcon-ui/src/components/Button.tsx
  packages/falcon-ui/src/components/Card.tsx
  packages/falcon-ui/src/components/FlexLayout.tsx
  packages/falcon-ui/src/components/GridLayout.tsx
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/Image.tsx
  packages/falcon-ui/src/components/Root.tsx
  packages/falcon-ui/src/components/Table.tsx
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/theme/themed.tsx
Due: eslint --fix

Converting `server` into a function Adding initial server.test.js suite
  packages/falcon-client/package.json
  packages/falcon-client/src/client.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/server.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix, prettier --write

Moving App config import to a single file (index.js)
  packages/falcon-client/src/index.js
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

Fixing server.test.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix

Adding mock for apollo-link-http Testing SSR
  packages/falcon-client/package.json
  packages/falcon-client/src/__mocks__/pages/Blog.js
  packages/falcon-client/src/__mocks__/pages/Shop.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/server.test.js
  packages/falcon-client/src/service/ApolloClient.js
  packages/falcon-client/src/service/__mocks__/apollo-link-http.js
Due: eslint --fix, prettier --write

improvement: update to babel v7 stable
  packages/falcon-ui/babel.config.js
  packages/falcon-ui/package.json
  packages/falcon-ui/rollup.config.js
Due: eslint --fix, prettier --write

feat(falcon-ui): add range input component
  packages/falcon-ui/src/components/RangeInput.mdx
  packages/falcon-ui/src/components/RangeInput.tsx
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/theme/components.ts
  packages/falcon-ui/src/theme/index.ts
Due: none

docs(falcon-ui): add get started doc
  packages/falcon-ui/src/index.mdx
Due: none

post-merge fixes
  packages/falcon-client/src/index.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix

fix server.test.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix

Fixing eslint warnings
  .eslintignore
  packages/falcon-client/.npmignore
  packages/falcon-client/src/index.test.js
Due: eslint --fix

Updating README.md
  README.md
Due: none

Add folders for extensions, update repository urls in package.json for all packages
  package.json
  packages/falcon-blog-extension/README.md
  packages/falcon-blog-extension/package.json
  packages/falcon-client/package.json
  packages/falcon-logger/package.json
  packages/falcon-magento2-extension/README.md
  packages/falcon-magento2-extension/package.json
  packages/falcon-server/package.json
  packages/falcon-shop-extension/README.md
  packages/falcon-shop-extension/package.json
  packages/falcon-tweets-extension/README.md
  packages/falcon-tweets-extension/package.json
  packages/falcon-ui/package.json
  packages/falcon-url-extension/README.md
  packages/falcon-url-extension/package.json
  packages/falcon-wordpress-extension/README.md
  packages/falcon-wordpress-extension/package.json
Due: prettier --write

Update command names in shop-with-blog/server
  examples/shop-with-blog/server/package.json
Due: prettier --write

Add folders for extensions, update repository urls in package.json for all packages
  packages/falcon-blog-extension/yarn-error.log
  packages/falcon-dynamic-route-extension/yarn-error.log
  packages/falcon-magento2-api/yarn-error.log
  packages/falcon-server/yarn-error.log
  packages/falcon-wordpress-api/yarn-error.log
Due: none

First version of re-worked extensions api - schema stitching implemented with apollo tools
  .gitignore
  packages/falcon-server/package.json
  packages/falcon-server/src/apiEngine.js
  packages/falcon-server/src/extensions.js
  packages/falcon-server/src/index.js
  packages/falcon-wordpress-api/README.md
  packages/falcon-wordpress-api/package.json
  packages/falcon-wordpress-extension/package.json
Due: eslint --fix, prettier --write

Implementation of falcon blog extension and falcon wordpress api
  examples/shop-with-blog/server/config/default.json
  examples/shop-with-blog/server/package.json
  examples/shop-with-blog/server/src/index.js
  package.json
  packages/falcon-blog-extension/package.json
  packages/falcon-blog-extension/src/index.js
  packages/falcon-blog-extension/src/schema.graphql
  packages/falcon-dev-tools/eslint-config-falcon/index.js
  packages/falcon-logger/src/serverLogger.js
  packages/falcon-server/src/apiEngine.js
  packages/falcon-server/src/extensions.js
  packages/falcon-server/src/index.js
  packages/falcon-wordpress-api/package.json
  packages/falcon-wordpress-api/src/htmlManager.js
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix, prettier --write

post-merge fix
  package.json
Due: prettier --write

refactor: refactor theme provider, improve props passing, remove unused import
  packages/falcon-ui/src/components/ThemeProvider.tsx
  packages/falcon-ui/src/theme/theme.ts
Due: none

Fix package names
  packages/falcon-magento2-extension/package.json
  packages/falcon-shop-extension/package.json
  packages/falcon-tweets-extension/package.json
  packages/falcon-url-extension/package.json
  packages/falcon-wordpress-extension/package.json
Due: prettier --write

Fix dependency name in example project
  examples/shop-with-blog/server/package.json
Due: prettier --write

docs(create-falcon-app): Adding README.md
  packages/create-falcon-app/README.md
Due: none

improvement(falcon-ui): add proper tree shaking for themed components
  packages/falcon-ui/package.json
Due: prettier --write

feat(create-falcon-app): initial implementation
  package.json
  packages/create-falcon-app/.gitignore
  packages/create-falcon-app/.npmignore
  packages/create-falcon-app/README.md
  packages/create-falcon-app/bin/create-falcon-app
  packages/create-falcon-app/index.js
  packages/create-falcon-app/package.json
  packages/create-falcon-app/scripts/prepublish.js
  packages/create-falcon-app/src/index.js
  packages/falcon-client/package.json
Due: eslint --fix, prettier --write

Fixing eslint warning
  packages/create-falcon-app/src/index.js
Due: eslint --fix

Initial "templates/default" version
  .eslintignore
  packages/create-falcon-app/.gitignore
  packages/create-falcon-app/templates/default/client/.eslintignore
  packages/create-falcon-app/templates/default/client/.eslintrc
  packages/create-falcon-app/templates/default/client/README.md
  packages/create-falcon-app/templates/default/client/config/default.json
  packages/create-falcon-app/templates/default/client/config/development.json
  packages/create-falcon-app/templates/default/client/config/production.json
  packages/create-falcon-app/templates/default/client/falcon-client.config.js
  packages/create-falcon-app/templates/default/client/index.js
  packages/create-falcon-app/templates/default/client/package.json
  packages/create-falcon-app/templates/default/client/public/favicon.ico
  packages/create-falcon-app/templates/default/client/public/logo.png
  packages/create-falcon-app/templates/default/client/public/logo.svg
  packages/create-falcon-app/templates/default/client/public/manifest.json
  packages/create-falcon-app/templates/default/client/public/robots.txt
  packages/create-falcon-app/templates/default/client/razzle.config.js
  packages/create-falcon-app/templates/default/client/src/App.css
  packages/create-falcon-app/templates/default/client/src/App.js
  packages/create-falcon-app/templates/default/client/src/App.test.js
  packages/create-falcon-app/templates/default/client/src/clientState.js
  packages/create-falcon-app/templates/default/client/src/pages/dynamic/Post.js
  packages/create-falcon-app/templates/default/client/src/pages/dynamic/Shop.js
  packages/create-falcon-app/templates/default/client/src/pages/home/Home.css
  packages/create-falcon-app/templates/default/client/src/pages/home/Home.js
  packages/create-falcon-app/templates/default/gitignore
  packages/create-falcon-app/templates/default/server/package.json
  packages/create-falcon-app/templates/default/server/src/index.js
Due: eslint --fix, prettier --write

improvement(falcon-ui): add annotate-pure-calls to babel config in order to make tree shaking working
  packages/falcon-ui/babel.config.js
Due: eslint --fix

feat(falcon-ui): add basic Input component
  packages/falcon-ui/src/components/Input.tsx
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/theme/components.ts
  packages/falcon-ui/src/theme/theme.ts
Due: none

Excluding possible node_modules files
  packages/create-falcon-app/src/index.js
Due: eslint --fix

Fixing tests for shop-with-blog example
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
Due: prettier --write

Removing default template
  packages/create-falcon-app/src/index.js
  packages/create-falcon-app/templates/default/client/.eslintignore
  packages/create-falcon-app/templates/default/client/.eslintrc
  packages/create-falcon-app/templates/default/client/README.md
  packages/create-falcon-app/templates/default/client/config/default.json
  packages/create-falcon-app/templates/default/client/config/development.json
  packages/create-falcon-app/templates/default/client/config/production.json
  packages/create-falcon-app/templates/default/client/falcon-client.config.js
  packages/create-falcon-app/templates/default/client/index.js
  packages/create-falcon-app/templates/default/client/package.json
  packages/create-falcon-app/templates/default/client/public/favicon.ico
  packages/create-falcon-app/templates/default/client/public/logo.png
  packages/create-falcon-app/templates/default/client/public/logo.svg
  packages/create-falcon-app/templates/default/client/public/manifest.json
  packages/create-falcon-app/templates/default/client/public/robots.txt
  packages/create-falcon-app/templates/default/client/razzle.config.js
  packages/create-falcon-app/templates/default/client/src/App.css
  packages/create-falcon-app/templates/default/client/src/App.js
  packages/create-falcon-app/templates/default/client/src/App.test.js
  packages/create-falcon-app/templates/default/client/src/clientState.js
  packages/create-falcon-app/templates/default/client/src/pages/dynamic/Post.js
  packages/create-falcon-app/templates/default/client/src/pages/dynamic/Shop.js
  packages/create-falcon-app/templates/default/client/src/pages/home/Home.css
  packages/create-falcon-app/templates/default/client/src/pages/home/Home.js
  packages/create-falcon-app/templates/default/gitignore
  packages/create-falcon-app/templates/default/server/package.json
  packages/create-falcon-app/templates/default/server/src/index.js
Due: eslint --fix, prettier --write

docs(falcon-ui): add theme page with basic theme editor
  packages/falcon-ui/docs/ThemeEditor.tsx
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/doczrc.js
  packages/falcon-ui/src/theme/theme.mdx
Due: eslint --fix

improvement(falcon-ui): change the API of themed components factory, specify default themable props inline together with component not in separate file
  packages/falcon-ui/src/components/Button.tsx
  packages/falcon-ui/src/components/Card.tsx
  packages/falcon-ui/src/components/FlexLayout.tsx
  packages/falcon-ui/src/components/GridLayout.tsx
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/Image.tsx
  packages/falcon-ui/src/components/Input.tsx
  packages/falcon-ui/src/components/RangeInput.tsx
  packages/falcon-ui/src/components/Root.tsx
  packages/falcon-ui/src/components/Table.tsx
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/theme/components.ts
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/theme.ts
  packages/falcon-ui/src/theme/themed.tsx
Due: none

refactor: move koa-session config to "session.options" field in configuration object
  examples/shop-with-blog/server/config/default.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

docs: first version of documentation for Falcon Server
  packages/falcon-server/README.md
Due: none

docs: fix links in Falcon Server docs
  packages/falcon-server/README.md
Due: none

cleanup: remove yarn error log
  packages/falcon-server/yarn-error.log
Due: none

cleanup: remove yarn error log files
  packages/falcon-blog-extension/yarn-error.log
  packages/falcon-dynamic-route-extension/yarn-error.log
  packages/falcon-magento2-api/yarn-error.log
  packages/falcon-wordpress-api/yarn-error.log
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
