Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

tests(shop): fix schema tests for shop extension
  packages/falcon-shop-extension/src/schema.test.js
Due: eslint --fix

feat(app-shell): added unregisterAll service workers method
  packages/falcon-client/src/client.js
  packages/falcon-client/src/serviceWorker/index.js
  packages/falcon-client/src/serviceWorker/register.js
Due: eslint --fix

Tiny improvement on Magento2ApiBase.resolveURL method
  packages/falcon-magento2-api/package.json
  packages/falcon-magento2-api/src/Magento2ApiBase.js
Due: eslint --fix, prettier --write

Making "falcon-server/src/schema.graphql" as Base Schema Handling Base Schema manipulation in FalconServer class
  packages/falcon-blog-extension/package.json
  packages/falcon-client/package.json
  packages/falcon-server/src/containers/ExtensionContainer.js
  packages/falcon-server/src/containers/ExtensionContainer.test.js
  packages/falcon-server/src/index.js
  packages/falcon-server/src/schema.graphql
Due: eslint --fix, prettier --write

Adding WordPress API tests
  packages/falcon-wordpress-api/package.json
  packages/falcon-wordpress-api/src/index.test.js
Due: eslint --fix, prettier --write

docs(falcon-ui): formatting for mdx files, remove playground
  packages/falcon-ui/docs/PropsTable.tsx
  packages/falcon-ui/src/components/Avatar.mdx
  packages/falcon-ui/src/components/Backdrop.mdx
  packages/falcon-ui/src/components/BackgroundImage.mdx
  packages/falcon-ui/src/components/Badge.mdx
  packages/falcon-ui/src/components/Box.mdx
  packages/falcon-ui/src/components/Breadcrumbs.mdx
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/Checkbox.mdx
  packages/falcon-ui/src/components/Details.mdx
  packages/falcon-ui/src/components/Divider.mdx
  packages/falcon-ui/src/components/Dropdown.mdx
  packages/falcon-ui/src/components/FlexLayout.mdx
  packages/falcon-ui/src/components/GridLayout.mdx
  packages/falcon-ui/src/components/Group.mdx
  packages/falcon-ui/src/components/Headings.mdx
  packages/falcon-ui/src/components/Image.mdx
  packages/falcon-ui/src/components/Input.mdx
  packages/falcon-ui/src/components/Label.mdx
  packages/falcon-ui/src/components/Link.mdx
  packages/falcon-ui/src/components/List.mdx
  packages/falcon-ui/src/components/Navbar.mdx
  packages/falcon-ui/src/components/NumberInput.mdx
  packages/falcon-ui/src/components/Portal.mdx
  packages/falcon-ui/src/components/Radio.mdx
  packages/falcon-ui/src/components/RangeInput.mdx
  packages/falcon-ui/src/components/Root.mdx
  packages/falcon-ui/src/components/Select.mdx
  packages/falcon-ui/src/components/Sidebar.mdx
  packages/falcon-ui/src/components/Swipeable.mdx
  packages/falcon-ui/src/components/Table.mdx
  packages/falcon-ui/src/components/Tabs.mdx
  packages/falcon-ui/src/components/Text.mdx
  packages/falcon-ui/src/components/playground.mdx
  packages/falcon-ui/src/components/playground.tsx
Due: none

doc(falcon-ui): update readme text
  packages/falcon-ui/README.md
Due: none

style(factor-ui): remove commened out code
  packages/falcon-ui/doczrc.js
Due: eslint --fix

update gitignore files
  .gitignore
  packages/falcon-ui/.gitignore
Due: none

improvement(falcon-ui): add overflowX to body in normalize styles
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: none

improvement(falcon-ui): change remaining setState calls to use function version
  packages/falcon-ui/src/components/Details.mdx
  packages/falcon-ui/src/components/ThemeProvider.tsx
Due: none

docs(falcon-ui): fix details component example
  packages/falcon-ui/src/components/Details.mdx
Due: none

feat(falcon-ui): add experimental support for bgFullWidth responsive prop, use it in navbar component
  packages/falcon-ui/src/components/Link.tsx
  packages/falcon-ui/src/components/Navbar.mdx
  packages/falcon-ui/src/components/Navbar.tsx
  packages/falcon-ui/src/theme/propsmapings.ts
Due: none

docs(falcon-ui): improve number input & sidebar examples in docs
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/NumberInput.mdx
  packages/falcon-ui/src/components/Sidebar.mdx
Due: prettier --write

feat(app-shell): improved logging
  packages/falcon-client/src/serviceWorker/index.js
Due: eslint --fix

feat(app-shell): fixed server HMR
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server.js
  packages/falcon-client/src/server.test.js
Due: eslint --fix

feat(app-shell): resigned from requiring favicon
  examples/shop-with-blog/client/public/favicon.ico
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/components/HtmlHead.js
Due: eslint --fix

feat(app-shell): fixing failing tests - to fix them I needs to extract falcon-web-server
  packages/falcon-client/src/falcon-web-server.js
  packages/falcon-client/src/falcon-web-server.test.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/routing/webpackAssetsMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): simplified passing webpack assets into falcon web server
  packages/falcon-client/src/falcon-web-server.js
  packages/falcon-client/src/falcon-web-server.test.js
  packages/falcon-client/src/routing/appShellMiddleware.js
  packages/falcon-client/src/routing/index.js
  packages/falcon-client/src/routing/webpackAssetsMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(falcon-ui): add support for icons that can be defined in theme
  packages/falcon-ui/src/components/ThemedIcon.tsx
  packages/falcon-ui/src/index.ts
  packages/falcon-ui/src/theme/index.ts
Due: none

feat(app-shell): removed commented code
  packages/falcon-client/src/serviceWorker/index.js
Due: eslint --fix

feat(app-shell): removed commented code
  examples/shop-with-blog/client/src/App.js
  packages/falcon-client/src/components/OfflineOverlay/index.js
Due: eslint --fix

feat(app-shell): simplification
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): renamed login to abc
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/pages/abc/Abc.js
  examples/shop-with-blog/client/src/pages/home/Home.js
Due: eslint --fix

feat(app-shell): throwing instead of returning promises
  packages/falcon-client/bin/falcon-client.js
  packages/falcon-client/src/buildTools/razzle/index.js
  packages/falcon-client/src/buildTools/workbox/index.js
Due: eslint --fix

feat(app-shell): removed unused code
  packages/falcon-client/src/components/OfflineOverlay/index.js
Due: eslint --fix

feat(magento): improve resolver for products query
  packages/falcon-magento2-api/src/Magento2ApiBase.js
  packages/falcon-magento2-api/src/index.js
Due: eslint --fix

fix(server-env): use qs.stringify() to convert nested params to proper URLSearchParams instance
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: prettier --write

fix(shop): remove Pagination from schema which is now present in main server package
  packages/falcon-shop-extension/src/schema.graphql
Due: prettier --write

feat(dynamic-routing): prepare Extension and ExtensionContainer for dynamic routing feature
  packages/falcon-server-env/src/models/ApiDataSource.test.ts
  packages/falcon-server-env/src/models/Extension.test.ts
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server-env/src/types.ts
  packages/falcon-server/src/containers/ExtensionContainer.js
Due: eslint --fix

feat(dynamic-routing): add extesion for dynamic routing and handle dynamic routing in WP
  examples/shop-with-blog/server/config/default.json
  examples/shop-with-blog/server/package.json
  package.json
  packages/falcon-blog-extension/src/index.js
  packages/falcon-dynamic-route-extension/README.md
  packages/falcon-dynamic-route-extension/index.js
  packages/falcon-dynamic-route-extension/package.json
  packages/falcon-magento2-extension/README.md
  packages/falcon-magento2-extension/package.json
  packages/falcon-url-extension/README.md
  packages/falcon-url-extension/package.json
  packages/falcon-wordpress-api/src/index.js
Due: eslint --fix, prettier --write

improvement(falcon-ui): update themed icon default theme and size
  packages/falcon-ui/src/components/ThemedIcon.tsx
Due: none

improvement(falcon-ui): do not export ThemeEditor, improve the way themes get merged so icons section gets merged correctly
  packages/falcon-ui/docs/Wrapper.tsx
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/ThemeProvider.tsx
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/theme.ts
  packages/falcon-ui/src/theme/utils.ts
Due: prettier --write

feat(falcon-ui): allow using components even if not wrapped inside themeprovider
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/theme.ts
  packages/falcon-ui/src/theme/themed.tsx
Due: none

docs(falcon-ui): update remaining examples to use react-powerplug as state provider
  packages/falcon-ui/src/components/Details.mdx
  packages/falcon-ui/src/components/Dropdown.mdx
Due: none

docs(falcon-ui): update intro copy, fix typos
  packages/falcon-ui/README.md
  packages/falcon-ui/src/index.mdx
Due: none

docs(falcon-ui): update tabs docs with interactive examples
  packages/falcon-ui/src/components/Tabs.mdx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jxs}
  prettier --write: any of: *.{json,css,scss,graphql,yml}
