Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

added app
  examples/shop-with-blog/client/src/App.css
  examples/shop-with-blog/client/src/App.js
Due: eslint --fix, prettier --write

added razzlePluginFalconClient to intergate razzle with falcon-client
  packages/falcon-client/index.js
  packages/falcon-client/src/falconClientPlugin.js
Due: eslint --fix

fixed import
  packages/falcon-client/src/server.js
Due: eslint --fix

removed koa logo
  examples/shop-with-blog/client/src/koajs-logo.png
Due: none

added home page
  examples/shop-with-blog/client/src/Home.js
Due: eslint --fix

added index.js into example - entry point for entire application
  examples/shop-with-blog/client/src/index.js
Due: eslint --fix

falcon-client will render app defined in example
  packages/falcon-client/src/client.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server.js
Due: eslint --fix

removed razzle from shop-and-blog example - it works
  examples/shop-with-blog/client/package.json
Due: prettier --write

Start server debugger in default start command
  examples/shop-with-blog/server/index.js
  examples/shop-with-blog/server/package.json
Due: eslint --fix, prettier --write

moved razzle related files into src/razzle
  packages/falcon-client/index.js
  packages/falcon-client/src/razzle/falconClientPlugin.js
  packages/falcon-client/src/razzle/paths.js
Due: eslint --fix

remved index.css as it is not used
  examples/shop-with-blog/client/src/index.css
Due: prettier --write

reorganized example pages
  examples/shop-with-blog/client/src/App.js
  examples/shop-with-blog/client/src/pages/home/Home.css
  examples/shop-with-blog/client/src/pages/home/Home.js
Due: eslint --fix, prettier --write

removed unecessary commented code
  packages/falcon-client/bin/falcon-client.js
Due: eslint --fix

added cross-env tp start falcon-client in prod
  examples/shop-with-blog/client/package.json
Due: prettier --write

added basic readme
  examples/shop-with-blog/client/README.md
Due: none

added cleintApp 'provider' which load ./src/index.js from example and validate it
  packages/falcon-client/index.js
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/clientApp/razzle/falconClientPlugin.js
  packages/falcon-client/src/clientApp/razzle/paths.js
  packages/falcon-client/src/index.js
  packages/falcon-client/src/server.js
Due: eslint --fix

removed unecessary scripts from falcon-client
  packages/falcon-client/package.json
Due: prettier --write

updated readme files for falcon-client and shop-with-blog example
  examples/shop-with-blog/client/README.md
  packages/falcon-client/README.md
Due: none

fixed typo, and better type annotations
  packages/falcon-client/README.md
Due: none

Adding Jest dependency
  packages/falcon-client/jest.config.js
  packages/falcon-client/package.json
Due: eslint --fix, prettier --write

Moving Jest to root package.json
  jest.config.js
  package.json
  packages/falcon-client/package.json
Due: eslint --fix, prettier --write

fixed eslint errors
  packages/falcon-client/src/clientApp/index.js
Due: eslint --fix

we would not like to lint build output flies
  .eslintignore
Due: none

moved razzle into dependencies, * razzle-dev-utils can be omitted in dependencies list, but it is easier have them as eslint will not handle future require() otherwise
  packages/falcon-client/package.json
Due: prettier --write

added 'x' as an exception name (useful in arrow functions)
  .eslintrc
Due: none

added gloabl lint script
  package.json
Due: prettier --write

moved entire eslint configuration into eslint-config-falcon
  packages/falcon-dev-tools/eslint-config-falcon/index.js
  packages/falcon-dev-tools/eslint-config-falcon/package.json
Due: eslint --fix, prettier --write

using @deity/eslint-config-falcon in root package.json * registered @deity/eslint-config-falcon as new workspace
  package.json
Due: prettier --write

referencing @deity/eslint-config-falcon in root .eslintrc
  .eslintrc
Due: none

added .eslintrc in shop-with-blog example
  examples/shop-with-blog/client/.eslintignore
  examples/shop-with-blog/client/.eslintrc
  examples/shop-with-blog/client/package.json
Due: prettier --write

looks like eslint can not handle /* */ when it is about ignoring next line
  packages/falcon-client/src/client.js
Due: eslint --fix

removed unecessary comma-dangle rule + cleanup
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

removed unecessary rules and clean up
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

removed arrow-parens and clane up
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

clean up - all rules in alphabetizing order
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

moved prettier confing into eslint-config-falcon
  packages/falcon-dev-tools/eslint-config-falcon/index.js
Due: eslint --fix

changes crlf to lf
  .eslintrc
Due: none

as prettier is configured in eslint but lintstaged will require prettierrc, I created prettier.config.js and read settings from @deity/eslint-config-falcon prettier/prettier rule
  .prettierrc
  packages/falcon-dev-tools/eslint-config-falcon/index.js
  prettier.config.js
Due: eslint --fix

fixed issue with uknown token ...
  prettier.config.js
Due: eslint --fix

I think prettier should be installed globally + cleanup
  package.json
Due: prettier --write
