Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

feat(locales): passing down i18nResources
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(locales): added assertion (into SSR test) for i18n translations
  packages/falcon-client/src/server.test.js
Due: eslint --fix

feat(locales): renames
  packages/falcon-client/src/client.js
  packages/falcon-client/src/i18n/__mocks__/i18nFactory.js
  packages/falcon-client/src/i18n/i18nClientFactory.js
  packages/falcon-client/src/i18n/i18nServerFactory.js
  packages/falcon-client/src/middlewares/i18nextMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/server.js
  packages/falcon-client/test-utils/FalconClient.js
Due: eslint --fix

feat(locales): added debug option
  packages/falcon-client/src/clientApp/configuration.js
  packages/falcon-client/src/i18n/__mocks__/i18nFactory.js
  packages/falcon-client/src/i18n/i18nClientFactory.js
  packages/falcon-client/src/i18n/i18nServerFactory.js
  packages/falcon-client/src/middlewares/i18nextMiddleware.js
Due: eslint --fix

feat(locales): we should serialize only i18nextFilteredStore
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
Due: eslint --fix

feat(locales): specified defaults fro assets
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
Due: eslint --fix

feat(locales): fixed import path
  packages/falcon-client/test-utils/FalconClient.js
Due: eslint --fix

feat(locales): it is enough to set lng for tests
  packages/falcon-client/src/i18n/__mocks__/i18nFactory.js
Due: eslint --fix

feat(locales): added i18n.debug setting into MD
  packages/falcon-client/README.md
Due: none

feat(locales): improved readme files
  packages/falcon-client/README.md
  packages/falcon-dev-tools/falcon-i18n-webpack-plugin/README.md
  packages/falcon-i18n/README.md
Due: none

feat(locales): added start:dbg-brk into shop with blog scripts
  examples/shop-with-blog/client/package.json
Due: prettier --write

Refactoring ApiContainer class
  examples/shop-with-blog/server/config/default.json
  packages/falcon-blog-extension/package.json
  packages/falcon-server/src/apiEngine.js
  packages/falcon-server/src/containers/ApiContainer.js
Due: eslint --fix, prettier --write

docs(falcon-ui): update theme editor to use tabs, clean it up a little bit
  packages/falcon-ui/docs/ThemeEditor.tsx
Due: none

feat(falcon-ui): add BackgroundImage component
  packages/falcon-ui/src/components/BackgroundImage.mdx
  packages/falcon-ui/src/components/BackgroundImage.tsx
Due: none

feat(vendor-bundle): configured vendor bundle
  examples/shop-with-blog/client/public/manifest.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/components/Html.js
Due: eslint --fix, prettier --write

feat(locales): improved documentation for falcon-client
  packages/falcon-client/README.md
Due: none

feat(falcon-ui): add proper input component with optional invalid state
  packages/falcon-ui/src/components/Input.mdx
  packages/falcon-ui/src/components/Input.tsx
Due: none

feat(falcon-ui): add badge component
  packages/falcon-ui/src/components/Badge.mdx
  packages/falcon-ui/src/components/Badge.tsx
Due: none

feat(locales): more improvements on documentation
  examples/shop-with-blog/client/README.md
  packages/falcon-client/README.md
Due: none

feat(locales): improved peerDependencies
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
Due: prettier --write

feat(locales): updated link
  examples/shop-with-blog/client/README.md
Due: none

feat(falcon-ui): add Label component
  packages/falcon-ui/src/components/Label.mdx
  packages/falcon-ui/src/components/Label.tsx
Due: none

improvement(falcon-ui): add reset for margins & padding in root component
  packages/falcon-ui/src/components/Root.tsx
Due: none

test(blog-extension) add schema tests
  packages/falcon-blog-extension/package.json
  packages/falcon-blog-extension/src/schema.test.js
Due: eslint --fix, prettier --write

Reworking ExtensionContainer
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/Extension.js
  packages/falcon-server/package.json
  packages/falcon-server/src/containers/ApiContainer.js
  packages/falcon-server/src/containers/ExtensionContainer.js
  packages/falcon-server/src/extensions.js
  packages/falcon-shop-extension/package.json
Due: eslint --fix, prettier --write

feat(shop-extension): moved schema from deity-core and added base shop extension methods
  packages/falcon-shop-extension/src/index.js
  packages/falcon-shop-extension/src/schema.graphql
Due: eslint --fix, prettier --write

test(shop-extension): add test file for schema plus first simple tests
  packages/falcon-shop-extension/package.json
  packages/falcon-shop-extension/src/schema.test.js
Due: eslint --fix, prettier --write

feat(vendor-bundle): list of modules needs to be converted into regexp
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(vendor-bunde): renamed to `vendors`
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

feat(vendor-bundle): decided to add more packages into vendors
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(fendor-bundle): moved razzle-dev-utils into devDependencies
  packages/falcon-client/package.json
Due: prettier --write

feat(falcon-ui): add link component
  packages/falcon-ui/src/components/Link.mdx
  packages/falcon-ui/src/components/Link.tsx
Due: none

feat(vendor-bundle): added i18n for future locales branch merge - into peerDeps to make merge easier
  packages/falcon-client/package.json
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix, prettier --write

improvement(falcon-ui): update default theme props
  packages/falcon-ui/src/theme/theme.ts
Due: none

feat(falcon-ui): add textarea component
  packages/falcon-ui/src/components/Textarea.mdx
  packages/falcon-ui/src/components/Textarea.tsx
Due: none

Refactoring main falcon-server/src/index.js file
  packages/falcon-server/src/containers/ApiContainer.js
  packages/falcon-server/src/index.js
Due: eslint --fix

improvement(falcon-ui): update default theme styles for button, card and headings
  packages/falcon-ui/src/components/Button.mdx
  packages/falcon-ui/src/components/Button.tsx
  packages/falcon-ui/src/components/Card.tsx
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/Text.mdx
Due: none

feat(falcon-ui): add list component
  packages/falcon-ui/src/components/List.mdx
  packages/falcon-ui/src/components/List.tsx
Due: none

improvement(falcon-ui): update swipeable styles for snapping, so it works in chrome v69
  packages/falcon-ui/src/components/Swipeable.mdx
  packages/falcon-ui/src/components/Swipeable.tsx
Due: none

docs(falcon-ui): props table work in progress
  packages/falcon-ui/docs/PropsTable.tsx
  packages/falcon-ui/docs/index.ts
  packages/falcon-ui/src/components/RangeInput.mdx
Due: none
