Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

added logo svg
  examples/shop-with-blog/client/public/logo.svg
Due: none

do not clear console
  examples/shop-with-blog/client/razzle.config.js
Due: eslint --fix

moved google tag manager
  packages/falcon-client/src/google/GoogleTagManager.js
Due: eslint --fix

added prop-types, react-google-tag-manager, helemt
  packages/falcon-client/package.json
Due: prettier --write

added some default configuration
  packages/falcon-client/src/clientApp/index.js
Due: eslint --fix

added description for build in env variables and started adding config
  packages/falcon-client/README.md
Due: none

manifest.json should be generated in future
  examples/shop-with-blog/client/public/manifest.json
Due: prettier --write

verbosity setting should be set via env variable
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/razzle.config.js
Due: eslint --fix, prettier --write

set default configuration
  packages/falcon-client/src/clientApp/index.js
Due: eslint --fix

added html shell
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

used new Html shell component to produce resposne
  packages/falcon-client/src/server.js
Due: eslint --fix

clean up
  packages/falcon-client/src/server.js
Due: eslint --fix

added vsc jsconfig.json specific file into gitignore
  .gitignore
Due: none

defined aliases for cleint and host src directories
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/clientApp/razzle/falconClientPlugin.js
  packages/falcon-client/src/clientApp/razzle/paths.js
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

adjusted script commands
  examples/shop-with-blog/client/package.json
Due: prettier --write

forget about MD file
  examples/shop-with-blog/client/README.md
Due: none

added falcon-logger, and koa-send
  packages/falcon-client/package.json
Due: prettier --write

added 500 erro page
  packages/falcon-client/src/views/errors/500.html
Due: none

added middleware which serve custom error page for 500 from falcon client or example if overridden
  packages/falcon-client/src/middlewares/error500Middleware.js
Due: eslint --fix

moved paths
  packages/falcon-client/src/clientApp/paths.js
Due: eslint --fix

added log level into configuration
  packages/falcon-client/src/clientApp/index.js
Due: eslint --fix

fixed isue with crossOrigin attribute
  packages/falcon-client/src/components/Html.js
Due: eslint --fix

updated path to paths.js
  packages/falcon-client/src/clientApp/razzle/falconClientPlugin.js
Due: eslint --fix

setted up loggel log level, and used error500 middleware
  packages/falcon-client/src/server.js
Due: eslint --fix

added documentation for 500 error page
  packages/falcon-client/README.md
Due: none

added serverSideRendering configuration switch
  examples/shop-with-blog/client/src/index.js
  packages/falcon-client/README.md
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/server.js
Due: eslint --fix

fixed wrong attribute name, should be state instead of store
  packages/falcon-client/src/server.js
Due: eslint --fix

moved prerendered markup and state into prerenderedApp object
  packages/falcon-client/src/server.js
Due: eslint --fix

extracted html shell middleware
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

extracted ssr middleware
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

added jsdoc
  packages/falcon-client/src/middlewares/error500Middleware.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

if serverSideRendering is false then ssrMiddleware will not be registered
  packages/falcon-client/src/server.js
Due: eslint --fix

Adding initial files for `create-falcon-app` package
  package.json
  packages/create-falcon-app/bin/create-falcon-app
  packages/create-falcon-app/index.js
  packages/create-falcon-app/package.json
Due: eslint --fix, prettier --write

Changing method signature for ApolloClient service
  packages/falcon-client/src/client.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix

Adding initial clientState.js file to `shop-with-blog` example Applying LinkState options in FalconClient
  examples/shop-with-blog/client/package.json
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/index.js
  examples/shop-with-blog/client/src/pages/home/Home.js
  packages/create-falcon-app/bin/create-falcon-app
  packages/falcon-client/bin/falcon-client.js
  packages/falcon-client/package.json
  packages/falcon-client/src/client.js
  packages/falcon-client/src/clientApp/index.js
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/service/ApolloClient.js
Due: eslint --fix, prettier --write

Minor adjustments Replacing `isomorphic-unfetch` with `node-fetch`
  examples/shop-with-blog/client/src/clientState.js
  examples/shop-with-blog/client/src/pages/home/Home.js
  examples/shop-with-blog/server/package.json
  examples/shop-with-blog/server/src/index.js
  packages/falcon-client/package.json
Due: eslint --fix, prettier --write

Adding initial GetUrl query
  packages/falcon-client/src/middlewares/ssrMiddleware.js
  packages/falcon-client/src/service/ApolloClient.js
  packages/falcon-server/src/index.js
Due: eslint --fix

simplified falcon client plugin for razzle
  packages/falcon-client/src/clientApp/razzle/falconClientPlugin.js
Due: eslint --fix

used @deity/falcon-logger instead of console.log
  packages/falcon-client/src/index.js
Due: eslint --fix

added node config into example
  examples/shop-with-blog/client/package.json
Due: prettier --write
