Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

cleanup: remove unnecesary package from shop-with-blog/server
  examples/shop-with-blog/server/package.json
Due: prettier --write

Fixing examples path for create-falcon-app
  packages/create-falcon-app/scripts/prepublish.js
Due: eslint --fix

Fixing examples path for create-falcon-app
  packages/create-falcon-app/src/index.js
Due: eslint --fix

Fixing "deprecated" issue with NPM and "copy" behavior
  packages/create-falcon-app/package.json
  packages/create-falcon-app/scripts/prepublish.js
  packages/create-falcon-app/src/index.js
Due: eslint --fix, prettier --write

Fixing create-falcon-app package
  packages/create-falcon-app/src/index.js
Due: eslint --fix

Changing import style for react-router-dom Getting rid of `waait` package
  packages/falcon-client/package.json
  packages/falcon-client/src/index.test.js
  packages/falcon-client/src/server.test.js
  test/helpers.js
Due: eslint --fix, prettier --write

feat(falcon-ui): add text component
  packages/falcon-ui/src/components/Text.mdx
  packages/falcon-ui/src/components/Text.tsx
Due: none

feat(falcon-ui): add divider component
  packages/falcon-ui/src/components/Divider.mdx
  packages/falcon-ui/src/components/Divider.tsx
Due: none

installed i18next with backend, koa middleware and react components - installed also proptypes
  examples/shop-with-blog/client/package.json
  packages/falcon-client/package.json
Due: prettier --write

added some default en/common.json translations
  examples/shop-with-blog/client/public/locales/en/common.json
Due: prettier --write

added i18next koa middleware
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

used react i18 next on home view
  examples/shop-with-blog/client/src/pages/home/Home.js
  packages/falcon-client/src/i18n/i18nextClient.js
Due: eslint --fix

added i18next in ssr middleware
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

registered i18next middleware
  packages/falcon-client/src/server.js
Due: eslint --fix

used i18nect client on client side
  packages/falcon-client/src/client.js
Due: eslint --fix

on server side there will be a need to pass configuration into middleware
  packages/falcon-client/src/i18n/i18nextMiddleware.js
  packages/falcon-client/src/server.js
Due: eslint --fix

removed default configuration
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

fetched data needs to be parsed
  packages/falcon-client/src/i18n/i18nextClient.js
Due: eslint --fix

leaved only trnaslated welcome text
  examples/shop-with-blog/client/src/pages/home/Home.js
Due: eslint --fix

i18next initial state needs to be extracted, and serialized in html shell
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
Due: eslint --fix

initialized client i18next instance using state provided from server
  packages/falcon-client/src/client.js
Due: eslint --fix

adjusted ssr middleware
  packages/falcon-client/src/middlewares/ssrMiddleware.js
Due: eslint --fix

extracted component for injecting state
  packages/falcon-client/src/components/Html.js
  packages/falcon-client/src/components/SerializeState.js
Due: eslint --fix

added pl translation for testing purposes
  examples/shop-with-blog/client/public/locales/pl/common.json
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix, prettier --write

added translations into shop - when reportNS will be available then it will be possible to send to client only necessary languages and namespaces
  examples/shop-with-blog/client/public/locales/en/shop.json
  examples/shop-with-blog/client/src/pages/dynamic/Shop.js
  examples/shop-with-blog/client/src/pages/home/Home.js
  packages/falcon-client/src/i18n/i18nextClient.js
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix, prettier --write

installed falcon-locales in shop-with-blog
  examples/shop-with-blog/client/package.json
Due: prettier --write

added package falcon-locales
  package.json
  packages/falcon-locales/package.json
Due: prettier --write

added some basic locales in falcon-locales
  packages/falcon-locales/en/common.json
  packages/falcon-locales/en/shop.json
Due: prettier --write

needs to have app-path alias
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(falcon-ui): add swipeable component - WIP - experimantal component based on css snap points that could be used as carousel component base
  packages/falcon-ui/src/components/Swipeable.mdx
  packages/falcon-ui/src/components/Swipeable.tsx
Due: none

added write-file-webpack-plugin
  packages/falcon-client/package.json
Due: prettier --write

fix (falcon-ui): add missing exports in components index.ts
  packages/falcon-ui/src/components/index.ts
Due: none

configure write file plugin for locales
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(locales): added webpack plugin
  package.json
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/index.js
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/package.json
Due: eslint --fix, prettier --write

instead of loading json files, will dynamicly requre them
  packages/falcon-client/src/i18n/i18nextClient.js
Due: eslint --fix

default language needs to be en (at least right now)
  packages/falcon-client/src/i18n/i18nextMiddleware.js
Due: eslint --fix

feat(locales): package needs to have index.js
  packages/falcon-locales/index.js
  packages/falcon-locales/package.json
Due: eslint --fix, prettier --write

feat(locales): added entire plugin implementation
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/index.js
Due: eslint --fix

feat(locales): extracted method for adding source locales to webpack dependencies
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/index.js
Due: eslint --fix

feat(locales): requiring deity logger does not make sense in plugin
  packages/falcon-dev-tools/falcon-i18n-locales-webpack-plugin/package.json
Due: prettier --write
