Repository markshust/falcon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"linters": {
  "*.{js,jxs}": ["eslint --fix", "git add"],
  "*.{json,css,scss,graphql,yml}": ["prettier --write", "git add"]
}

fix(falcon-ui): add missing exports
  packages/falcon-ui/src/components/index.ts
Due: none

Switching to TS for falcon-server-env
  packages/falcon-server-env/docs/README.md
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/cache/ContextHTTPCache.ts
  packages/falcon-server-env/src/index.js
  packages/falcon-server-env/src/index.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/tsconfig.json
Due: eslint --fix, prettier --write

Migrating falcon-server-env classes to TS
  .eslintignore
  .gitignore
  package.json
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/models/ApiDataSource.ts
  packages/falcon-server-env/src/models/Extension.ts
  packages/falcon-server-env/src/types.ts
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

test(server) add basic tests for extension container - test if schema stitching works correctly
  packages/falcon-server/package.json
  packages/falcon-server/src/extensions.js
  packages/falcon-server/src/extensions.test.js
Due: eslint --fix, prettier --write

improvement(falcon-ui): remove margin & padding resets from root component, tweaks styles, bumb docz version
  packages/falcon-ui/package.json
  packages/falcon-ui/src/components/Headings.tsx
  packages/falcon-ui/src/components/List.tsx
  packages/falcon-ui/src/components/Root.tsx
  packages/falcon-ui/src/components/Sidebar.mdx
Due: prettier --write

feat(falcon-ui): add checkbox component
  packages/falcon-ui/src/components/Checkbox.mdx
  packages/falcon-ui/src/components/Checkbox.tsx
  packages/falcon-ui/src/components/index.ts
  packages/falcon-ui/src/theme/index.ts
Due: none

feat(falcon-ui): add radio button
  packages/falcon-ui/src/components/Radio.mdx
  packages/falcon-ui/src/components/Radio.tsx
  packages/falcon-ui/src/components/index.ts
Due: none

feat(falcon-ui): add number input / stepper
  packages/falcon-ui/src/components/NumberInput.mdx
  packages/falcon-ui/src/components/NumberInput.tsx
Due: none

Moving 'htmlManager' to falcon-server-env package
  packages/falcon-server-env/src/helpers/index.ts
  packages/falcon-wordpress-api/src/htmlManager.js
Due: eslint --fix

feat(falcon-ui): add breadcrumbs component
  packages/falcon-ui/src/components/Breadcrumbs.mdx
  packages/falcon-ui/src/components/Breadcrumbs.tsx
Due: none

feat(locales): small cr updates
  packages/falcon-client/README.md
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(locales): changes version for graphgl dependency
  packages/falcon-client/package.json
Due: prettier --write

feat(falcon-ui): add select component
  packages/falcon-ui/src/components/Select.mdx
  packages/falcon-ui/src/components/Select.tsx
  packages/falcon-ui/src/components/index.ts
Due: none

docs(falcon-ui): update playground with simple product layout based on grid layout
  packages/falcon-ui/src/components/playground.tsx
  packages/falcon-ui/src/theme/propsmapings.ts
Due: none

improvement(falcon-ui): update theme & tweak components visuals a little bit
  packages/falcon-ui/src/components/Input.tsx
  packages/falcon-ui/src/components/Link.tsx
  packages/falcon-ui/src/components/NumberInput.tsx
  packages/falcon-ui/src/components/Root.tsx
  packages/falcon-ui/src/theme/theme.ts
Due: none

Defining type definitions for helpers
  packages/falcon-server-env/package.json
  packages/falcon-server-env/src/helpers/index.ts
  packages/falcon-server-env/src/models/ApiDataSource.ts
Due: prettier --write

Using eventemitter2 for Falcon-Server event handling
  packages/falcon-server/package.json
  packages/falcon-server/src/index.js
Due: eslint --fix, prettier --write

feat(app-shell): added workbox webpack plugin
  packages/falcon-client/package.json
Due: prettier --write

feat(app-shell): added cross-env in server
  examples/shop-with-blog/server/package.json
Due: prettier --write

feat(app-shell): added sw client registration
  packages/falcon-client/src/serviceWorker/register.js
Due: eslint --fix

feat(app-shell): registered swrvice worker
  packages/falcon-client/src/client.js
Due: eslint --fix

feat(app-shell): default configuration for sw workbox
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

fet(app-shell): added path to appshell index html
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): specified cacheID
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): added gzipping
  packages/falcon-client/package.json
  packages/falcon-client/src/server.js
Due: eslint --fix, prettier --write

feat(app-shell): added serviceWorker env into eslint
  examples/shop-with-blog/client/.eslintrc
Due: none

test(server) add missing mock files
  packages/falcon-server/src/__mocks__/FakeProductReviewsExtension.js
  packages/falcon-server/src/__mocks__/FakeShopExtension.js
Due: eslint --fix

feat(app-shell): improved sw configuration
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): added tem app-shell route to render appshell html
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/server.js
Due: eslint --fix

feat(app-shell): moved sw.js into falcon-client
  packages/falcon-client/src/serviceWorker/sw.js
Due: eslint --fix

feat(app-shell): added service worker
  examples/shop-with-blog/client/public/sw.js
Due: eslint --fix

feat(app-shell): adjusted config for addWorkboxSw plugin
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): clean up sw.js
  packages/falcon-client/src/serviceWorker/sw.js
Due: eslint --fix

feat(app-shell): simplified configuration for WorkboxPlugin.InjectManifest
  packages/falcon-client/src/buildTools/razzle/falconClientPlugin.js
Due: eslint --fix

feat(app-shell): updated workbox webpack plugin
  packages/falcon-client/package.json
Due: prettier --write

Fixing tests (post-merge)
  packages/falcon-server/src/containers/ExtensionContainer.js
  packages/falcon-server/src/containers/ExtensionContainer.test.js
  packages/falcon-server/src/containers/__mocks__/fake-product-reviews-extension/index.js
  packages/falcon-server/src/containers/__mocks__/fake-shop-extension/index.js
Due: eslint --fix

feat(falcon-ui): update themed factory to handle responsive props also in css object for normal css props, fix issues with order of media queries being put into resulting style, remove extend prop
  packages/falcon-ui/src/theme/index.ts
  packages/falcon-ui/src/theme/themed.tsx
Due: none

improvement(falcon-ui): update react & docz versions
  packages/falcon-ui/package.json
Due: prettier --write

feat(app-shell): extracted method to getting state for i18next
  packages/falcon-client/src/middlewares/htmlShellRendererMiddleware.js
Due: eslint --fix

feat(app-shell): apollo client provider will expect single param with schemas, then I can configure '/app-shell' route
  packages/falcon-client/src/middlewares/apolloClientProvider.js
  packages/falcon-client/src/server.js
Due: eslint --fix
